<html>
    <head>
        <title>Errors</title>
    </head>
    <body>
        <div class="container">
            
            <h1>You should enter string and a word to search</h1>

        </div>
    </body>
</html>
