<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <title>RepeatCounter</title>
    </head>
    <body>
        <div class="container">
            <h1> Counting matching words</h1>
            <form action="/view_count">
                <div class="form-group">
                    <label for "input_string">Enter String:</label>
                    <input type="text" id="input_string" name="input_string" class="form-control"></input>
                    <label for "search_word">Enter word to search:</label>
                    <input type="text" id="search_word" name="search_word" class="form-control"></input>
                    <button type="submit" class="btn-success">Submit</button>

                </div>
            </form>
        </div>

    </body>
</html>
