<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <title>match_count</title>
    </head>
    <body>
        <div class="container">
            <h1>Number of matching words found:</h1>
            {{ count }}
        </div>

    </body>
</html>
